@import "../utils/variables.less";

.home {
  background-image: linear-gradient(
    180deg,
    @color-primary,
    @color-primary-dark 66%,
    #fff 66%
  );

  &--title {
    position: absolute;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    color: #fff;

    @media screen and (max-width: @breakpoint-s) {
      position: relative;
      text-align: left;
    }

    h1 {
      margin: @cluster / 4 0;
    }

    &-subline {
    }
  }
}
