// VIEWPORT FULLSCREEN
.fullscreen {
  width: 100%;
  min-height: var(--viewport-height, 100vh);
  position: relative;
}

// FLEXBOX
.flex {
  display: flex;
  flex-wrap: wrap;

  &--center {
    justify-content: center;
  }

  &--middle {
    justify-content: center;
    align-items: center;
  }
}
