.fullscreen {
    min-height: 100vh;
}

.flex {
    display: flex;
    flex-wrap: wrap;

    &--center {
        justify-content: center;
    }

    &--vcenter {
        align-items: center;
    }

    &--start {
        justify-content: flex-start;
    }

    &--end {
        justify-content: flex-end;
    }

    &--between {
        justify-content: space-between;
    }

    &--col {
        flex-direction: column;
    }
}