// COLORZ
@color-primary: rgb(119, 204, 164);
@color-primary-dark: rgb(89, 153, 123);
@color-primary-darker: rgb(55, 55, 57);
@color-primary-light: rgb(187, 213, 201);
@color-grey: rgb(230, 230, 230);
@color-grey-light: rgb(242, 242, 242);
@color-grey-dark: rgb(55, 55, 57);

// LAYOUTZ
@cluster: 80px;

// BREAKPOINTS
@breakpoint-xl: 1180px;
@breakpoint-l: 880px;
@breakpoint-m: 1180px;
@breakpoint-s: 475px;

// TRANSITION
@transition-slide-in: opacity 0.4s ease-in,
  transform 0.6s cubic-bezier(0.25, 1, 0.5, 1);
