// COLORZ COLORZ COLORZ
@primary-color: rgb(123, 196, 162);
@grey-dark: rgb(72, 72, 76);

// PATHZ
@fonts: "../../assets/fonts/";
@imgs : "../../assets/imgs/";

// QUINT EASINGZ
@easeinout: cubic-bezier(0.76, 0, 0.24, 1);
@easeout: cubic-bezier(0.22, 1, 0.36, 1); 
@easein: cubic-bezier(0.64, 0, 0.78, 0); 