.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  &--primary {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    height: @cluster / 2;
    border-radius: @cluster / 20;
    transition: background-color 1s ease-in-out;

    &:hover {
      background-color: rgba(0, 0, 0, 1);
    }

    &-icon {
      background-color: rgba(0, 0, 0, 0.25);
      width: @cluster / 2;
      height: 100%;
    }

    &-txt {
      padding: 5px 15px;
      line-height: 1;
    }
  }
}
